/*
- Así se define una regla CSS:
slector {
    propiedad: vavlor;
}
*/
:root {
    --text-color: rgb(60, 255, 0);
    --bg-color:hwb(0 22% 78% / 0.939);
    --accent-color: hwb(330 0% 0% / 0.939);
    --title-font: "giramisu-variable", sans-serif;
    --text-font: "parabolica", sans-serif;
}
html {
    font-size: 100%;
}
body{
    font-family: var(--text-font);
    background-color: var( --bg-color);
    color: var(--text-color)
}
a {
    color: var(--accent-color)
}
h1, h2, h3 {
    font-family: "giramisu-variable", sans-serif;
    font-variation-settings: "wdth" 50, "slnt" 0;
    font-size: 6rem;
}

h2 {

    font-size: 3rem; 
    font-variation-settings: "wdth" 80, "slnt" 30;
}

h3 {

    font-size: 3rem; 
    font-variation-settings: "wdth" 80, "slnt" -26;
}